# General
.DS_Store
Thumbs.db
*.log

# Environment Variables
.env
.env.local
.env.*.local

# Node
node_modules/
dist/
build/
coverage/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Foundry / Solidity
cache/
out/
broadcast/

# IDEs
.vscode/
.idea/
*.swp
